.container {
    padding-right: 0!important;
    padding-left: 0!important;
}

.view {
    height: 94vh;
    object-fit: cover;
}

.carousel-caption {
    bottom: 45% !important;
}

@media (min-width: 1200px) {
    .container {
        max-width: 100%!important;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 100%!important;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 100%!important;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 100%!important;
    }
}